<div class="admin-content">
  <div style="height: 80px;"></div>

  <div class="am-g">
    <div class="am-u-lg-2">
      <strong style="margin-left: 20px;">账户名:</strong>
    </div>
    <div class="am-u-lg-10">
      <p style="margin-left: -40px;">{{ account_name }}</p>
    </div>
  </div>

  <div style="height: 10px;"></div>

  <div class="am-g">
    <div class="am-u-lg-8">
      <form class="am-form">
        <fieldset>

          <legend>修改密码</legend>

          <div class="am-form-group">
            <label for="name">姓名</label>
            <input type="text" class="" id="name" placeholder="">
          </div>

          <div class="am-form-group">
            <label for="old_password">原密码</label>
            <input type="password" class="" id="old_password" placeholder="">
          </div>

          <div class="am-form-group">
            <label for="new_password">新密码</label>
            <input type="password" class="" id="new_password">
          </div>

          <div class="am-form-group">
            <label for="verify_new_password">确认新密码</label>
            <input type="password" class="" id="verify_new_password">
          </div>

          <div style="height: 30px;"></div>

          <div class="am-g">
            <div class="am-u-lg-1"></div>
            <div class="am-u-lg-7">
              <button type="button" class="am-btn am-btn-danger" id="submit_change">提交修改</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
