
<div class="am-modal am-modal-prompt" tabindex="-1" id="add-user-dialog">
  <div class="am-modal-dialog">
    <div class="am-modal-bd">
      <form class="am-form">
        <fieldset>

          <legend>添加管理员</legend>

          <div class="am-form-group">
            <label for="name">姓名</label>
            <input type="text" class="" id="name">
          </div>

          <div class="am-form-group">
            <label for="name">账号名</label>
            <input type="text" class="" id="account">
          </div>

          <div class="am-form-group">
            <label for="password">密码</label>
            <input type="password" class="" id="password">
          </div>

          <div style="height: 30px;"></div>

        </fieldset>
      </form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn am-btn-danger" data-am-modal-confirm　id="add_new_admin">提交</span>
    </div>
  </div>
</div>
