{% extends "base.html" %}

{% block title %}
  <title>我的收藏</title>
{% endblock %}

{% load staticfiles %}

{% block css %}
  <link href="{% static "css/collection.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="panel-blank"></div>

  <div class="container container-custom">
    <ul class="nav nav-tabs tab-panel">
      <li class=""><a href="#carCollection" data-toggle="tab" aria-expanded="false">车源收藏<div class="ripple-container"></div></a></li>
      <li class="active"><a href="#userCollection" data-toggle="tab" aria-expanded="true">商家收藏<div class="ripple-container"></div></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="carCollection">
        {% for item in publish_info %}
          <div class="collection-blank" id="blank-{{ item.detail_id }}"></div>
          <div class="card" id="detail-{{ item.detail_id }}">
            <div class="row">
              <div class="col-lg-7">
                <table>
                  <tr>
                    <td><h4>{{ item.series_detail.brand }} {{ item.series_detail.displacement }} {{ item.series_detail.other }}</h4></td>
                  </tr>
                  <tr>
                    <td><p class="update-time">{{ item.update_time.year }}年{{ item.update_time.month }}月{{ item.update_time.day }}日 更新</p></td>
                  </tr>
                  <tr>
                    <td><p>{{ item.location }}</p></td>
                  </tr>
                  <tr>
                    <td><p>{{ item.commodity_detail.color }}|{{ item.commodity_detail.type }}|{{ item.commodity_detail.style }}</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-3">
                <h3 class="price-tag">{{ item.price.lowest_price }}万|下{{ item.price.highest_price }}万</h3>
              </div>
              <div class="col-lg-1">
                <div class="row">
                  <!--TODO: url未实现-->
                  <a href="/detail/?operation_id={{ item.detail_id }}" class="btn btn-raised btn-primary" style="background: #39c; color: white; margin-top: 18px;">查看详情</a>
                </div>
                <div class="row">
                  <a href="#" class="btn btn-raised" id="remove-{{ item.detail_id }}" style="background: #222; color: white;">取消收藏</a>
                </div>

                <div class="row">
                  {% if item.is_black %}
                    <p>该车源已经被拉黑</p>
                   {% endif %}
                </div>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="tab-pane fade" id="userCollection">
        {# django templates无法求模 #}
        {# “查看详情”按钮请使用之前detail_2的实现 #}
        {% for merchant_item in merchant_material %}
            <div class="row">
              {% for item in merchant_item %}
                <div class="col-lg-4" id="merchant-{{ item.merchant_id }}">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static item.image_path %}" style="width:150px; height:100px; margin-left: 90px" alt="Loading image...">
                    </div>
                    <div class="card-body">
                      <h4 class="merchant-material">{{ item.company_name }}</h4>
                      <p class="merchant-material">{{ item.location }} {{ item.merchant_type }}</p>
                      <p class="merchant-material">联系人:{{ item.contact_name }}</p>
                      <p class="merchant-material">电话:{{ item.phone_number }}</p>
                      <a href="/merchant/?operation_id={{ item.merchant_id }}" class="btn btn-raised btn-info" style="margin-left: 40px">查看详情</a>
                      <a class="btn btn-raised btn-primary" id="merchant-remove-{{ item.merchant_id }}">取消收藏</a>
                    </div>

                      {% if merchant_item.is_black %}
                         <p>该商家已经被拉黑</p>
                      {% endif %}

                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="collection-blank"></div>
        {% endfor %}
      </div>
    </div>
  <div class="page-blank"></div>
  </div>

  <div class="panel-blank"></div>
{% endblock %}

{% block jsLibrary %}
  <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

  <script>
    (function () {

      var $button = $("<div id='source-button' class='btn btn-primary btn-xs'>&lt; &gt;</div>").click(function () {
        var index = $('.bs-component').index($(this).parent());
        $.get(window.location.href, function (data) {
          var html = $(data).find('.bs-component').eq(index).html();
          html = cleanSource(html);
          $("#source-modal pre").text(html);
          $("#source-modal").modal();
        })

      });

      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();

      $(".bs-component").hover(function () {
        $(this).append($button);
        $button.show();
      }, function () {
        $button.hide();
      });

      function cleanSource(html) {
        var lines = html.split(/\n/);

        lines.shift();
        lines.splice(-1, 1);

        var indentSize = lines[0].length - lines[0].trim().length,
            re = new RegExp(" {" + indentSize + "}");

        lines = lines.map(function (line) {
          if (line.match(re)) {
            line = line.substring(indentSize);
          }

          return line;
        });

        lines = lines.join("\n");

        return lines;
      }

      $(".icons-material .icon").each(function () {
        $(this).after("<br><br><code>" + $(this).attr("class").replace("icon ", "") + "</code>");
      });

    })();

  </script>
  <script src="{% static "js/ripples.min.js" %}"></script>
  <script src="{% static "js/material.min.js" %}"></script>
  <script src="{% static "js/snackbar.min.js" %}"></script>
  <script src="{% static "js/jquery.nouislider.min.js" %}"></script>
  <script>
    $(function () {
      $.material.init();
      $(".shor").noUiSlider({
        start: 40,
        connect: "lower",
        range: {
          min: 0,
          max: 100
        }
      });

      $(".svert").noUiSlider({
        orientation: "vertical",
        start: 40,
        connect: "lower",
        range: {
          min: 0,
          max: 100
        }
      });
    });
  </script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script src="{% static "js/collection.js" %}"></script>
{% endblock %}
