{% load staticfiles %}
<link href="{% static "css/footer.css" %}" rel="stylesheet">
<footer>
  <div class="panel">
    <div class="footer-panel-heading">
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-2">
            <ul>
              <li><h4 class="footer-title">站点地图</h4></li>
              <li><a href="#" class="footer-content">最新车源</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <h4 class="footer-title">意见反馈</h4>
          </div>
          <div class="col-lg-2">
            <ul>
              <li><h4 class="footer-title">友情链接</h4></li>
              <li><a href="#" class="footer-content">太平洋汽车网</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li><h4 class="footer-title">关于我们</h4></li>
              <li><a href="#" class="footer-content">版权声明</a></li>
              <li><a href="#" class="footer-content">服务协议</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li><h4 class="footer-title">微信服务号</h4></li>
              <li><a href="#" class="footer-content"><img src="{% static "img/weixin.jpg" %}"></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-lg-offset-4">
            <p>Copyright © 2016 车栈 -粤ICP备12345号 版权所有</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
    