{% extends "base.html" %}

{% block title %}
  <title>忘记密码</title>
{% endblock %}

{% load staticfiles %}

{% block css %}
  <link href="{% static "css/validate.css" %}" rel="stylesheet">
  <link href="{% static "css/forgetPassword.css" %}" rel="stylesheet">
  <link href="{% static "css/login-register.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="panel-blank"></div>

  <div class="container container-custom">
    <div class="card" style="padding-right: 15px; padding-left: 15px;">
      <div class="row title-panel">
        <div class="col-lg-offset-1 col-lg-3">
          <h4 class="title-text">找回密码</h4>
        </div>
      </div>
    </div>

    <div class="title-panel-blank"></div>
    <div class="content">
   <div class="web-width">
     <div class="for-liucheng">
     <div class="liulist" id="section-1"></div>
     <div class="liulist" id="section-2"></div>
     <div class="liulist" id="section-3"></div>
     <div class="liulist" id="section-4"></div>
      <div class="liutextbox">
       <div class="liutext" id="icon-1"><em>1</em><br /><strong>填写手机号</strong></div>
       <div class="liutext" id="icon-2"><em>2</em><br /><strong>验证身份</strong></div>
       <div class="liutext" id="icon-3"><em>3</em><br /><strong>设置新密码</strong></div>
       <div class="liutext" id="icon-4"><em>4</em><br /><strong>完成</strong></div>
      </div>
     </div>

     <form class="forget-pwd" id="form-1">
       <dl>
          <dt>手机号：</dt>
          <dd><input type="text" id="phoneNumber" name="phoneNumber" /></dd>
          <div class="clears"></div>
         </dl>
       <dl>
          <dt>验证码：</dt>
          <dd>
           <input type="text" />
           <div class="yanzma">
            <img src="{% static "img/yzm.gif" %}" /> <a href="javascript:;">换一换</a>
           </div>
          </dd>
          <div class="clears"></div>
         </dl>
       <div class="subtijiao"><input type="submit" value="下一步" id="submitPhoneNumber"/></div>
     </form>

     <form class="forget-pwd" id="form-2">
       <dl>
         <p>我们已经向您的注册手机发送了验证码，请将您的验证码正确输入</p>
       </dl>
       <dl>
        <dt>手机校验码：</dt>
        <dd><input type="text" id="phoneVerifyCode" name="verifyCode"/></dd>
        <div class="clears"></div>
        <p id="verifyCodeError" style="color: red;"></p>
       </dl>
       <div class="subtijiao"><input type="submit" value="下一步" id="submitVerifyCode"/></div>
      </form>

     <form class="forget-pwd" id="form-3">
       <dl>
        <dt>新密码：</dt>
        <dd><input type="password" id="newPassword" name="newPassword"/></dd>
        <div class="clears"></div>
       </dl>
       <dl>
        <dt>确认密码：</dt>
        <dd><input type="password" id="repeatePassword" name="repeatePassword"/></dd>
        <div class="clears"></div>
       </dl>
       <div class="subtijiao"><input type="submit" value="提交" id="submitNewPassword"/></div>
      </form>

     <form id="form-4">
       <div class="successs">
         <h3>恭喜您，修改成功！</h3>
       </div>
     </form>
   </div>
  </div>

  </div>

  <div class="panel-blank"></div>


{% endblock %}

{% block jsLibrary %}
  <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script>
    (function () {

      var $button = $("<div id='source-button' class='btn btn-primary btn-xs'>&lt; &gt;</div>").click(function () {
        var index = $('.bs-component').index($(this).parent());
        $.get(window.location.href, function (data) {
          var html = $(data).find('.bs-component').eq(index).html();
          html = cleanSource(html);
          $("#source-modal pre").text(html);
          $("#source-modal").modal();
        })

      });

      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();

      $(".bs-component").hover(function () {
        $(this).append($button);
        $button.show();
      }, function () {
        $button.hide();
      });

      function cleanSource(html) {
        var lines = html.split(/\n/);

        lines.shift();
        lines.splice(-1, 1);

        var indentSize = lines[0].length - lines[0].trim().length,
            re = new RegExp(" {" + indentSize + "}");

        lines = lines.map(function (line) {
          if (line.match(re)) {
            line = line.substring(indentSize);
          }

          return line;
        });

        lines = lines.join("\n");

        return lines;
      }

      $(".icons-material .icon").each(function () {
        $(this).after("<br><br><code>" + $(this).attr("class").replace("icon ", "") + "</code>");
      });

    })();

  </script>
  <script src="{% static "js/ripples.min.js" %}"></script>
  <script src="{% static "js/material.min.js" %}"></script>
  <script src="{% static "js/snackbar.min.js" %}"></script>
  <script src="{% static "js/jquery.nouislider.min.js" %}"></script>
  <script>
    $(function () {
      $.material.init();
      $(".shor").noUiSlider({
        start: 40,
        connect: "lower",
        range: {
          min: 0,
          max: 100
        }
      });

      $(".svert").noUiSlider({
        orientation: "vertical",
        start: 40,
        connect: "lower",
        range: {
          min: 0,
          max: 100
        }
      });
    });
  </script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script src="{% static "js/forgetPassword.js" %}"></script>
  <script src="{% static "js/login-register.js" %}"></script>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}
