<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <title>注册</title>
</head>

<body>
 <h1>注册页面：</h1>
   <div class="well">
       <form class="form-horizontal" action="http://www.panxl.cn/pushMsg/" method = 'post'enctype="multipart/form-data">
        {% csrf_token %}
           <p>
               <input type="text" name="phone" >
           </p>
           <br/>
           <p>
               <input type="password" name="password">
           </p>
           <p>
               <input type="password" name="againpassword">
           </p>
           <br/>
            <p class="form-actions">
              <input type="submit" name="register" value="注册" class="btn btn-primary">
            </p>
       </form>
   </div>
<br>
</body>
</html>