<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <title>设置头像</title>
</head>

<body>
    <form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input id="id_image" type="file" class="" name="image"> <!-- 这一行应该是form.image，省事写的 -->
        </p>
            <input type="submit" value="Submit" />
    </form>
</body>
</html>