<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8"/>
    <title>温馨提示</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "css/lib/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/search.css" %}" rel="stylesheet">
  </head>
  <body>

    <h1>如果需要在移动设备查看我们的内容，请使用我们的APP.</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>