
.title-panel{
  background: #39aea8;
  min-height: 40px;
}

.title-text{
  margin-left: -90px;
  padding-top: 10px;
  color: white;
}

/*商家名片*/
.collection-tip-number{
  display: inline;
  font-size: 30px;
  color: orange;
}

.collection-tip-text{
  display: inline;
  font-size: 20px;
  color: white;
}

.gradient{
  background: linear-gradient(#222, #666, #222);
}

.business-card-blank{ margin-bottom: 30px; }

.collection-blank{ margin-bottom: 20px; }

.price-tag{
  margin-top: 50px;
  color: #f60;
}

/*商家详情介绍*/
.merchant-material{
  text-align: left;
  color: white;
}

table{ margin-left: 30px; }

.card{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*面板间距*/
.panel-blank{ margin-bottom: 50px; }

.page-blank{ margin-bottom: 250px; }
