
/*保存搜索条件面板*/
.search-panel{ background: #39aea8; }

/*搜索条件设置面板*/
.condition-panel-blank{ height: 6px; }

.condition-tag-horizontal-interval{  }

#color li{ margin-right: 10px; }

#payment li{ margin-right: 10px; }

#car-type li{ margin-right: 10px; }

#ship-date li{ margin-right: 10px; }

#logistics li{ margin-right: 10px; }

.card{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.search-table{ margin-top: 10px; }

.search-condition{ color: white; }

.search-tip{
  margin-top: 20px;
  color: #ccc;
}

.search-result{ text-align:center }

div{ position: relative; }

.price-sorting{
	text-align:center;
	font-size: 22px;
}

.update-time-sorting{
	text-align:center;
	font-size: 22px;
}

select{ min-width: 90px; }

.price-up-sorting { font-size: 22px; }

.price-down-sorting { font-size: 22px; }

.time-up-sorting{ font-size: 22px; }

.time-down-sorting{ font-size: 22px; }

/*需求面板*/
#selected-condition-panel li{ 
  display: inline;
  padding-top: -20px;
}

.selected-condition{
  margin-left: 10px;
  display: inline;
  background: orangered;
  color: white;
}

.search-tag{
  color: #aaa;
  margin-left: 10px
}

.lowest-price{ max-width: 80px; }

.highest-price{ max-width: 80px; }

.search-condition{ display: inline; }

a{
  text-decoration: none;
  color: #0a0a0a;
}

a:hover { text-decoration: none; }

a:visited{ text-decoration: none; }

.date-picker{ margin-left: -100px; }

/*搜索条件设置面板*/
.search-selector{ max-width: 90px; }

.search-tag{
	margin-left: 10px;
  color: #aaa;
}

ul{
  list-style-type: none;
  padding: 0;
}

.search-condition-tag{ display: inline; }

.card-blank{ margin-bottom: 10px; }

#lowest-price{ max-width: 90px; }

#highest-price{ max-width: 90px; }

/*面板间距*/
.panel-blank{ margin-bottom: 23px; }

/*字段名称*/
.result-field-panel{
	color: white;
	background: #b5b5b5;
}

.price-tag{ 
  color: #f60;
  text-align:center;
}

/*查询结果显示面板间距*/
.result-panel-blank{ margin-bottom: 12px; }
