<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册的用户</title>
</head>

<body>
   <div class="well">
      <p>用户名             手机号                      操作</p>
      {% for item in user_infos_list%}
          <p>
              {{ item.username }}      {{ item.phone }}
              <a href="/modifyAdmin/?operation_id={{ item.id }}">修改</a>
              <a href="/deleteAdmin/?operation_id={{ item.id }}">作废</a>
          </p>
        {% empty %}
          <p>无结果</p>
       {% endfor %}
        <p><a href="/adminHome/">主页</a></p>
   </div>
<br>
</body>
</html>