<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理交易</title>
</head>

<body>
   <div class="well">
      <p>名称              地区      主营品牌         联系人      联系电话         状态      操作</p>

      {% for item in user_list %}
          <p>
              {{ item.company_name }}        {{ item.region }}  {{ item.user_trademark }}
              {% for people in item.peoples %}
                  {{ people.name }}     {{ people.phone }}
              {% endfor %}

              <a href="/selectUser/?operation_id={{ item.id }}">选择</a>
          </p>
        {% empty %}
          <p>无结果</p>
       {% endfor %}

      <p>--------------------------------------卖方信息------------------------------------</p>
      <p>
              {{ seller.company_name }}        {{ seller.region }}  {{ seller.user_trademark }}
              {% for people in seller.peoples %}
                  {{ people.name }}     {{ people.phone }}
              {% endfor %}
      </p>
      <p>--------------------------------------买方信息------------------------------------</p>
      <p>
          {{ buyer.company_name }}        {{ buyer.region }}  {{ buyer.user_trademark }}
          {% for people in buyer.peoples %}
                  {{ people.name }}     {{ people.phone }}
          {% endfor %}
      </p>
       <form class="form-horizontal" method = 'post'enctype="multipart/form-data">
        {% csrf_token %}
        <p class="form-actions">
           成交价格： <input type="text" id="deal_price" name="deal_price"/>
        </p>
        <p class="form-actions">
            <input type="submit" id="submit" name="submit" value="完成"/>
        </p>
       </form>

       <p><a href="/adminHome/">主页</a></p>
      <p><a href="/adminLogout/">退出</a></p>
   </div>
<br>
</body>
</html>