<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理员设置</title>
</head>

<body>
   <h1>修改管理员</h1>
   <div class="well">
       <form class="form-horizontal" method = 'post'enctype="multipart/form-data">
        {% csrf_token %}
        <p class="form-actions">
            账号: <input type="text" id="account" name="account"/>
        </p>
        <p class="form-actions">
            姓名: <input type="text" id="name" name="name"/>
        </p>
        <p class="form-actions">
          原密码: <input type="password" id="oldpassword" name="oldpassword"/>
        </p>
        <p class="form-actions">
          新密码: <input type="password" id="newpassword" name="newpassword"/>
        </p>
        <p class="form-actions">
           确认密码: <input type="password" id="againpassword" name="againpassword"/>
        </p>
        <p class="form-actions">
            <input type="submit" id="save" name="save" value="提交保存"/>
        </p>
       </form>
        <p><a href="/adminHome/">主页</a></p>
        <p><a href="/adminLogout/">退出</a></p>
   </div>
<br>
</body>
</html>