<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理员设置</title>
</head>

<body>
   <h1>超级管理员设置</h1>
   <div class="well">
       <p>-------------------------------------------------------------------------------------</p>
       <p>                         超级管理员拥有所有权限，请谨慎添加                          </p>
       <p>-------------------------------------------------------------------------------------</p>
      <p>姓名             账号                      操作</p>
      {% for item in admin_infos_list%}
          <p>
              {{ item.name }}           {{ item.username }}
              <a href="/setSuperAdmin/?operation_id={{ item.id }}">添加</a>
              <a href="/deleteAdmin/?operation_id={{ item.id }}">作废</a>
          </p>
        {% empty %}
          <p>无结果</p>
       {% endfor %}
        <p><a href="/adminHome/">主页</a></p>
        <p><a href="/adminLogout/">退出</a></p>
   </div>
<br>
</body>
</html>