{% load staticfiles %}

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <a href="/"><img src="{% static "admin/img/LOGO_64.png" %}"> 后台管理系统</a>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
  data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">baner</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;" id="logout">退出登陆</a></li>
    </ul>
  </div>
</header>
