<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
  <div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#member-admin-nav'}"><span class="am-icon-file"></span> 会员管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="member-admin-nav">
          <li><a href="/memberList/" class="am-cf"><span class="am-icon-check"></span> 全部会员<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
          <li><a href="/memberAudit/"><span class="am-icon-puzzle-piece"></span> 会员审核</a></li>
          <li>
            <a href="/backlist/">
              <span class="am-icon-th"></span>
              黑名单
              <span class="am-badge am-badge-secondary am-margin-right am-fr">{{ notice.blacklist_total }}</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#content-admin-nav'}"><span class="am-icon-file"></span> 内容管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="content-admin-nav">
          <li><a href="/contentList/" class="am-cf"><span class="am-icon-check"></span> 全部内容<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#setting-admin-nav'}"><span class="am-icon-file"></span> 系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="setting-admin-nav">
          <li><a href="/accountSetting/" class="am-cf">账号设置</a></li>
          <li><a href="/administratorSetting/"><span class="am-icon-puzzle-piece"></span> 管理员设置</a></li>
        </ul>
      </li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>有<strong style="color: red;">{{ notice.new_user_total }}</strong>个新用户注册。快去看看吧！</p>
      </div>
    </div>

  </div>
</div>
<!-- sidebar end -->
